{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}Hallo {{user}}!{% endblock %}

{% block header %}
{% endblock %}


{% block content %}
<p>Hier noch eine kurze Beschreibung? Oder die Spielregeln?</p>

<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

{% if coord %}
{% coordinate coord.lat coord.lon %}
{% endif %}
{% endblock %}



{% block sidebar %}
<img src="{% static 'images/576px-Oktopus-Orakel_Paul.JPG' %}" class="img-responsive img-rounded">
<small><a href="http://de.wikipedia.org/wiki/Paul_%28Krake%29" target="_blank">Ich weiss schon, wer gewinnt</a></small>
{% endblock %}
