{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}Frage {{question.pk}}{% endblock %}


{% block content %}
<h4>{{question.question}}</h4>


{% if perms.oracle.add_question %}
    <table class="table">
        <tr>
            <th style="width:15%;">Aktionen</th>
            <th style="width:15%;">Richtig</th>
            <th>Antwort</th>
        </tr>
    {% for answer in question.answer_set.all %}
        <tr>
            <td>
                <a href="{% url 'oracle:answer-delete' answer.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="{% url 'oracle:answer-edit' answer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td>
                {% if answer.is_wrong %}
                    <span class="glyphicon glyphicon-remove"></span>
                {% else %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% endif %}
            </td>
            <td>
                {{answer}}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">Die Frage hat keine Antworten</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}




{% block sidebar %}
{% if perms.oracle.add_question %}
<h4>Optionen</h4>
<p><a href="{% url 'oracle:question-delete' question.id %}">Löschen</a></p>
<p><a href="{% url 'oracle:question-edit' question.id %}">Bearbeiten</a></p>
<p><a href="{% url 'oracle:answer-add' %}?question={{question.id}}">Antwort hinzufügen</a></p>
{% endif %}
{% endblock %}
