{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}

{% block title %}Frage {{question.pk}}{% endblock %}


{% block content %}
<code>
    {{question.question}}
</code>

{% if perms.oracle.add_question %}
    <h4>Antworten</h4>
    <ul>
    {% for answer in question.answer_set.all %}
        <li>
            <a href="{% url 'oracle:answer-delete' answer.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="{% url 'oracle:answer-edit' answer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {{answer}}
        </li>
    {% empty %}
        <li>Die Frage hat keine Antworten</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}




{% block sidebar %}
{% if perms.oracle.add_question %}
<h4>Optionen</h4>
<p><a href="{% url 'oracle:question-delete' question.id %}">Löschen</a></p>
<p><a href="{% url 'oracle:question-edit' question.id %}">Bearbeiten</a></p>
<p><a href="{% url 'oracle:answer-add' %}?question={{question.id}}">Antwort hinzufügen</a></p>
{% endif %}
{% endblock %}
